{
    "swagger": "2.0",
    "info": {
      "title": "Azure Functions Open API Extension",
      "version": "2018-09-01-preview"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "security": [
      {}
    ],
    "securityDefinitions": {},
    "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/{minirpname}/accountType/{name}": {
        "get": {
          "tags": [
            "GetAccountType"
          ],
          "operationId": "GetAccountType",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "query",
              "name": "api-version",
              "description": "api-version is required. Valid versions are 2018-09-01-preview",
              "required": true,
              "type": "string"
            },
            {
              "in": "path",
              "name": "subscriptionId",
              "description": "This is the Id of the subscription",
              "required": true,
              "type": "string"
            },
            {
              "in": "path",
              "name": "resourceGroupName",
              "description": "This is the resource group name where the managed app is deployed",
              "required": true,
              "type": "string"
            },
            {
              "in": "path",
              "name": "minirpname",
              "description": "This is the resource provider name",
              "required": true,
              "type": "string"
            },
            {
              "in": "path",
              "name": "name",
              "description": "This is the document name",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "The OK response",
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "put": {
          "tags": [
            "UpdateAccountType"
          ],
          "operationId": "UpdateAccountType",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "query",
              "name": "api-version",
              "description": "api-version is required. Valid versions are 2018-09-01-preview",
              "required": true,
              "type": "string"
            },
            {
              "in": "path",
              "name": "subscriptionId",
              "description": "This is the Id of the subscription",
              "required": true,
              "type": "string"
            },
            {
              "in": "path",
              "name": "resourceGroupName",
              "description": "This is the resource group name where the managed app is deployed",
              "required": true,
              "type": "string"
            },
            {
              "in": "path",
              "name": "minirpname",
              "description": "This is the resource provider name",
              "required": true,
              "type": "string"
            },
            {
              "in": "path",
              "name": "name",
              "description": "This is the document name",
              "required": true,
              "type": "string"
            },
            {
              "name": "parameters",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/accountTypePutParameters"
              },
              "description": "Parameters to the accountType PUT function"
            }
          ],
          "responses": {
            "200": {
              "description": "The OK response",
              "schema": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "definitions": {
      "accountTypePutParameters": {
        "properties": {
            "location": {
                "type":"string",
                "description": "Region resource will be saved in"
            },
            "name": {
                "type":"string",
                "description": "The title of the resource"
            },
            "apiVersion": {
                "type":"string",
                "description": "version of api for resource"
            },
            "type": {
                "type":"string",
                "description": "the typeof resource"
            },
          "properties": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "Source display Name"
              },
              "tenantId": {
                "type": "string",
                "description": "Source tenant Id"
              },
              "subscriptionId": {
                "type": "string",
                "description": "Source subscription Id"
              },
              "type": {
                "type": "string",
                "description": "Source account-type"
              },
              "accountTypeStatus": {
                "type": "string",
                "description": "Source accountTypeStatus"
              }
            },
            "description": "properties property"
          }
        },
        "description": "Body payload for accountType PUT"
      }
    }
  }